<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
</head>
<body>
<div th:replace="header::header"></div>

<form class="layui-form content-center" action="" th:action="@{/user/login}" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">用户：</label>
        <div class="layui-input-inline">
            <input type="text" name="name" required  lay-verify="required" placeholder="请输入用户名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码：</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">密码至少为6位！</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            // layer.msg(JSON.stringify(data.field));
            console.log(JSON.stringify(data.field));
            return true;
        });
    });
</script>
</body>
</html>